body, h1, h3, p, ul {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Georgia, serif;
    color: #252525;
}

.menu {
    background: #252525;
    padding: 20px 0;
}

.menu-container {
    max-width: 960px;
    margin: 0 auto;
}